.container{
 position: absolute;
 top: 140px;
 width: 90%;
    left: 5%;

}
.tielist a{
line-height: 50px;

}
.tielist a:hover{

    color: wheat;

}
.tt{

    height: 30px;
    width: 99%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #8c8c8c;
}
.txt{
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: #8c8c8c;
}